#!/usr/bin/make -f

%:
	dh $@ --with python3,systemd

override_dh_auto_clean:
	echo "Do nothing..."

override_dh_auto_install:
	echo "Do nothing..."

override_dh_auto_test:
	echo "Do nothing..."

override_dh_auto_build:
	echo "Do nothing..."

override_dh_install:
	GRAPHITE_NO_PREFIX=True python3 setup.py install --install-layout=deb --root $(CURDIR)/debian/graphite-carbon
	rename 's/\.py//' debian/graphite-carbon/usr/bin/*.py
	# clean unneeded stuff
	rm -rf debian/graphite-carbon/usr/conf
	rm -rf debian/graphite-carbon/usr/storage
	rm -rf debian/graphite-carbon/usr/examples
	# install global default file for the three carbon daemons
	cp debian/graphite-carbon.default debian/graphite-carbon/etc/default/graphite-carbon
	# install config files
	cp conf/carbon.conf.example debian/graphite-carbon/etc/carbon/carbon.conf
	cp conf/storage-schemas.conf.example debian/graphite-carbon/etc/carbon/storage-schemas.conf
	dh_install

override_dh_installinit:
	dh_installinit --name=carbon-cache

override_dh_systemd_start:
	dh_systemd_start --name=carbon-cache

override_dh_systemd_enable:
	dh_systemd_enable --name=carbon-cache
	dh_systemd_enable --name=carbon-relay@ --no-enable
	dh_systemd_enable --name=carbon-aggregator@ --no-enable

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
	